@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import "tailwindcss";
 /* Font family Aoboshi One */ 
:root {
  --font-sans: "Aoboshi One", serif;
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}